@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
/* TYPOGRAPHY */
/*COLOR*/
/*PRIMARY*/
/*NEUTRAL*/
/* (text) */
/*  (footer text) */
/*  (body copy) */
/*  (footer background) */
/*GRADIENT*/
/* Background gradient - Intro/CTA mobile nav: */
/* Background gradient - body: */
.submain__header, .submain__footer {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.navbar__signup--btn, .header__button .header__start--btn, .header__button .header__learn--btn {
  width: 130px;
  height: 40px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 32px;
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #fafafa;
}

.main__header {
  padding: 0.1px;
  background-color: #ff8f70;
  border-bottom-left-radius: 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3d545d), to(#ff3d5444)), url(../img/bg-pattern-intro.svg);
  background-image: linear-gradient(#ff3d545d, #ff3d5444), url(../img/bg-pattern-intro.svg);
  background-repeat: no-repeat;
  background-size: 3000px;
  background-position: 25% 50%;
  width: 100%;
  height: 90vh;
}

@media screen and (max-width: 599px) {
  .main__header {
    background-size: 1700px;
    background-position: 40% 37%;
  }
}

.submain__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.header__logo {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}

.menuToogle {
  display: none;
}

.header__navbar {
  -ms-flex-preferred-size: 990px;
      flex-basis: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.navbar__menu .navbar__list {
  list-style: none;
}

.navbar__dropdown {
  position: relative;
}

.navbar__dropbtn {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 0;
}

.navbar__dropbtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar__dropbtn .navbar__dropbtn--ico {
  background-image: url(../img/angle-down-solid.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 7px;
}

.navbar__dropbtn:hover .navbar__dropbtn--ico {
  background-image: url(../img/angle-up-solid.svg);
}

.navbar__dropdown--content {
  display: none;
  gap: 13px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  width: 130px;
  padding: 16px 24px 16px 10px;
  position: absolute;
  top: 40px;
  left: -20px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.navbar__dropdown--content .navbar__dropdown--link {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: #25252d;
}

.navbar__dropdown--content .navbar__dropdown--link:hover {
  color: #2c2d3f;
  font-weight: 500;
}

.navbar__dropdown:hover .navbar__dropdown--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.navbar__login--btn {
  width: 120px;
  height: 40px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 32px;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
}

.navbar__signup--btn {
  background-color: #fff;
  color: #ff3d54;
  -webkit-transition: 640ms;
  transition: 640ms;
}

.navbar__signup--btn:hover {
  cursor: pointer;
  background-color: #ff3d54;
  color: #fff;
}

.header__banner {
  width: 100%;
  margin: 0 auto 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

.header__banner .header__banner--heading {
  font-family: "Overpass", sans-serif;
  font-size: 62px;
  color: #ffffff;
  margin-bottom: 15px;
}

.header__banner .header__banner--paragraph {
  font-family: "Overpass", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 35px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__button .header__start--btn {
  background-color: #fff;
  color: #ff3d54;
  -webkit-transition: 640ms;
  transition: 640ms;
}

.header__button .header__start--btn:hover {
  cursor: pointer;
  background-color: #ff3d54;
  color: #fff;
}

.header__button .header__learn--btn {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 640ms;
  transition: 640ms;
}

.header__button .header__learn--btn:hover {
  background-color: #fff;
  color: #ff3d54;
}

@media screen and (max-width: 599px) {
  .header__banner {
    width: 90%;
    height: 430px;
  }
  .header__banner .header__banner--heading {
    font-family: "Overpass", sans-serif;
    font-size: 38px;
  }
}

@media screen and (max-width: 280px) {
  .header__banner {
    width: 85%;
    height: 390px;
  }
  .header__banner .header__banner--heading {
    font-family: "Overpass", sans-serif;
    font-size: 26px;
  }
  .header__banner .header__banner--paragraph {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .main__header {
    position: relative;
  }
  .submain__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menuToogle {
    display: block;
    background-image: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
  }
  .header__navbar {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #ffffff;
    display: none;
  }
  .header__navbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 16px 0;
  }
  .navbar__buttons {
    padding: 12px 0;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #efeff1;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__dropdown {
    margin: auto;
    width: 90%;
    padding: 4px 0;
  }
  .navbar__dropbtn {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #2c2d3f;
    padding: 8px 0;
    margin-bottom: 0;
  }
  .navbar__dropdown--content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    text-align: center;
    background-color: #efeff1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    border-radius: 5px;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar__dropdown--content .navbar__dropdown--link {
    padding: 0 0;
    width: 100%;
    text-align: center;
    color: #2c2d3f;
    font-size: 16px;
  }
  .navbar__dropdown--content .navbar__dropdown--link:nth-of-type(1) {
    padding-top: 30px;
  }
  .navbar__dropdown--content .navbar__dropdown--link:last-of-type {
    padding-bottom: 30px;
  }
  .navbar__dropdown--content .navbar__dropdown--link:hover {
    color: #2c2d3f;
    font-weight: 500;
  }
  .navbar__login--btn {
    color: #2c2d3f;
  }
  .navbar__signup--btn {
    background-color: none;
    background-image: linear-gradient(150deg, #ff8f70, #ff3d54);
    color: #ffffff;
    -webkit-transition: 640ms;
    transition: 640ms;
  }
  .navbar__signup--btn:hover {
    cursor: pointer;
    background-color: none;
  }
  .navbar__dropbtn:after {
    content: "";
    background-image: url(../img/angle-down-media.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    float: right;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .navbar__dropbtn.active:after {
    content: "";
    background-image: url(../img/angle-up-media.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .navbar__dropbtn .navbar__dropbtn--ico {
    background-image: none;
    margin-left: 0;
  }
  .navbar__dropbtn:hover .navbar__dropbtn--ico {
    background-image: none;
    margin-left: 0;
  }
}

.main__container {
  padding: 0.1px;
}

.first__container {
  position: relative;
  padding: 128px 0;
}

.first__container--header {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.first__container--header .first__container--heading {
  font-family: "Overpass", sans-serif;
  font-size: 28px;
}

.first__container--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first__container--articles {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
  margin-top: 100px;
  margin-left: 100px;
}

.first__container--article .first__article--heading {
  font-family: "Overpass", sans-serif;
}

.first__container--article .first__article--paragraph {
  font-family: "Overpass", sans-serif;
  margin: 20px 0;
  font-size: 19px;
  line-height: 30px;
}

.first__container--picture {
  position: absolute;
  top: 90px;
  right: -260px;
}

.first__container--picture .first__container--img {
  width: 900px;
}

@media screen and (max-width: 1280px) {
  .first__container--articles {
    margin-top: 100px;
    margin-left: 100px;
  }
  .first__container--picture {
    position: absolute;
    top: 140px;
    right: -200px;
  }
  .first__container--picture .first__container--img {
    width: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .first__container--header {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .first__container--body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .first__container--articles {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: 50px;
    margin-left: 0;
    padding: 0 20px;
    text-align: center;
  }
  .first__container--picture {
    position: relative;
    top: 0;
    right: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .first__container--picture .first__container--img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .first__container--picture {
    position: relative;
    top: 0;
    right: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    background-image: url(../img/illustration-editor-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 300px;
  }
  .first__container--picture .first__container--img {
    display: none;
  }
  .first__container--article .first__article--heading {
    font-family: "Overpass", sans-serif;
    font-size: 28px;
  }
  .first__container--article .first__article--paragraph {
    font-family: "Overpass", sans-serif;
    margin: 30px 0;
    font-size: 17px;
    line-height: 30px;
  }
}

@media screen and (max-width: 280px) {
  .first__container--picture {
    height: 200px;
  }
  .first__container--header {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .first__container--header .first__container--heading {
    font-family: "Overpass", sans-serif;
    font-size: 20px;
  }
  .first__container--article .first__article--heading {
    font-size: 20px;
  }
  .first__container--article .first__article--paragraph {
    font-size: 15px;
  }
}

.second__container {
  border-bottom-left-radius: 150px;
  border-top-right-radius: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2d3f;
  margin: 170px 0 120px;
  height: 43vh;
  width: 100%;
}

.second__container--bgi {
  background-image: url(../img/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position-x: -52%;
  background-position-y: 85%;
}

.second__container--picture {
  position: absolute;
  top: -80px;
  left: 140px;
  right: 0;
}

.second__container--article {
  -ms-flex-preferred-size: 540px;
      flex-basis: 540px;
  margin-right: 150px;
}

.second__container--article .second__container--heading {
  font-family: "Overpass", sans-serif;
  color: #ffffff;
  font-size: 32px;
  margin-top: 20px;
}

.second__container--article .second__container--paragraph {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  margin: 20px 0;
  font-size: 15px;
  line-height: 30px;
}

@media screen and (max-width: 1366px) {
  .second__container--article {
    -ms-flex-preferred-size: 540px;
        flex-basis: 540px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .second__container--article {
    -ms-flex-preferred-size: 450px;
        flex-basis: 450px;
  }
}

@media screen and (max-width: 1200px) {
  .second__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vh;
  }
  .second__container--bgi {
    background-image: url(../img/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 85%;
  }
  .second__container--picture {
    position: relative;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .second__container--picture .second__container--img {
    width: 90%;
    display: block;
    margin: auto;
  }
  .second__container--article {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    max-width: 80%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 768px) {
  .second__container {
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 65vh;
    margin: 120px 0 30px;
  }
  .second__container--bgi {
    background-image: url(../img/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -500px;
  }
  .second__container--picture {
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .second__container--picture .second__container--img {
    width: 90%;
    display: block;
    margin: auto;
  }
  .second__container--article {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    max-width: 80%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 375px) {
  .second__container {
    height: 65vh;
  }
  .second__container--bgi {
    background-image: url(../img/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: -200px;
  }
  .second__container--article .second__container--heading {
    font-size: 22px;
    margin-top: 30px;
  }
  .second__container--article .second__container--paragraph {
    font-family: "Ubuntu", sans-serif;
    color: #ffffff;
    margin: 20px 0 5px;
    font-size: 14px;
    line-height: 30px;
  }
}

@media screen and (max-width: 280px) {
  .second__container {
    height: 70vh;
  }
  .second__container--bgi {
    background-image: url(../img/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position-x: 60%;
    background-position-y: -140px;
  }
  .second__container--article .second__container--heading {
    font-size: 22px;
    margin-top: 30px;
  }
  .second__container--article .second__container--paragraph {
    font-family: "Ubuntu", sans-serif;
    color: #ffffff;
    margin: 20px 0 5px;
    font-size: 14px;
    line-height: 30px;
  }
}

.third__container {
  position: relative;
  padding: 64px 0;
}

.third__container--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.third__container--picture {
  position: absolute;
  top: 0;
  left: -253px;
}

.third__container--picture .third__container--img {
  width: 900px;
}

.third__container--articles {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
  margin-top: 110px;
  margin-right: 100px;
}

.third__container--article .third__article--heading {
  font-family: "Overpass", sans-serif;
}

.third__container--article .third__article--paragraph {
  font-family: "Overpass", sans-serif;
  margin: 20px 0;
  font-size: 19px;
  line-height: 30px;
}

@media screen and (max-width: 1280px) {
  .third__container--articles {
    margin-top: 100px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .third__container--body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .third__container--articles {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: 50px;
    margin-right: 0;
    padding: 0 20px;
    text-align: center;
  }
  .third__container--picture {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .third__container--picture .third__container--img {
    width: 100%;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .third__container {
    padding: 24px 0;
  }
  .third__container--picture {
    position: relative;
    top: 0;
    right: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    background-image: url(../img/illustration-laptop-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 300px;
  }
  .third__container--picture .third__container--img {
    display: none;
  }
  .third__container--article .third__article--heading {
    font-family: "Overpass", sans-serif;
    font-size: 28px;
  }
  .third__container--article .third__article--paragraph {
    font-family: "Overpass", sans-serif;
    margin: 30px 0;
    font-size: 17px;
    line-height: 30px;
  }
}

@media screen and (max-width: 280px) {
  .third__container--picture {
    height: 200px;
  }
  .third__container--header {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .third__container--header .third__container--heading {
    font-family: "Overpass", sans-serif;
    font-size: 20px;
  }
  .third__container--article .third__article--heading {
    font-size: 20px;
  }
  .third__container--article .third__article--paragraph {
    font-size: 15px;
  }
}

.main__footer {
  background-color: #2c2d3f;
  border-top-right-radius: 120px;
  padding: 0.1px;
  margin-top: 190px;
}

.submain__footer {
  padding: 64px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.footer__logo {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.footer__body {
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu .footer__list--heading {
  font-family: "Overpass", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__menu .footer__list {
  list-style: none;
  padding: 11px 0;
}

.footer__menu .footer__link {
  font-family: "Ubuntu", sans-serif;
  color: #c8c8cb;
  text-decoration: none;
}

.footer__menu .footer__link:hover {
  text-decoration: underline;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .main__footer {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .submain__footer {
    padding: 64px 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-bottom: 40px;
  }
  .footer__logo .footer__logo--img {
    display: block;
    margin: auto;
  }
  .footer__body {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__menu {
    margin-bottom: 45px;
    text-align: center;
  }
}
/*# sourceMappingURL=estilos.css.map */