
:root{
    /*PRIMARY*/

    /* (CTA text) */
--Light-red : #ff525d;
/*  (CTA hover background) */
--Very-light-red: #ff7a85;
/* (headings) */
--Very-dark-blue : #1f3f5b;

/*NEUTRAL*/
--White : #ffffff; /* (text) */
--Grayish-blue: #c8c8cb;/*  (footer text) */
--Very-dark-grayish-blue: #4b5862; /*  (body copy) */
--Very-dark-black-blue: #25252d; /*  (footer background) */

/*GRADIENT*/
/* Background gradient - Intro/CTA mobile nav: */

--Very-light-red: #ff8f70;
--Light-red: #ff3d54;

/* Background gradient - body: */

--Very-dark-gray-blue: #2c2d3f;
--Very-dark-desaturated-blue: #3f4164;

/* TYPOGRAPHY */
--fuente-1: 'Overpass', sans-serif;
--fuente-2: 'Ubuntu', sans-serif;
}

.margenes{
    max-width:1200px;
    margin:40px auto;
    padding:20px;
}
