@import "resources";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #fafafa;
}
.main__header {
  padding: 0.1px;
  background-color: $very-light-red;
  border-bottom-left-radius: 120px;
  background-image: linear-gradient(#ff3d545d, #ff3d5444),
    url(../img/bg-pattern-intro.svg);
  background-repeat: no-repeat;
  background-size: 3000px;
  background-position: 25% 50%;
  width: 100%;
  height: 65vh;
}

@media screen and (max-width: 599px) {
  .main__header {
    background-size: 1700px;
    background-position: 40% 37%;
  }
}

.submain__header {
  @extend %margenes;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.header__logo {
  flex-basis: 150px;
}
.menuToogle {
  display: none;
}
.header__navbar {
  flex-basis: 990px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu {
  display: flex;
  gap: 20px;
  .navbar__list {
    list-style: none;
  }
}
.navbar__dropdown {
  position: relative;
}
.navbar__dropbtn {
  font-family: $fuente-2;
  font-size: 15px;
  font-weight: 500;
  color: $white;
  background-color: transparent;
  border: none;
  display: flex;
  padding: 13px 0;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .navbar__dropbtn--ico {
    background-image: url(../img/angle-down-solid.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    align-self: center;
    margin-left: 7px;
  }

  &:hover .navbar__dropbtn--ico {
    background-image: url(../img/angle-up-solid.svg);
  }
}
.navbar__dropdown--content {
  display: none;
  gap: 13px;
  flex-direction: column;
  background-color: $white;
  width: 130px;
  padding: 16px 24px 16px 10px;
  position: absolute;
  top: 40px;
  left: -20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  .navbar__dropdown--link {
    text-decoration: none;
    font-family: $fuente-2;
    color: $very-dark-black-blue;
    &:hover {
      color: $very-dark-gray-blue;
      font-weight: 500;
    }
  }
}
.navbar__dropdown:hover .navbar__dropdown--content {
  display: flex;
}
.navbar__buttons {
  display: flex;
  gap: 10px;
}
.navbar__login--btn {
  width: 120px;
  height: 40px;
  font-family: $fuente-2;
  font-size: 15px;
  border: none;
  border-radius: 32px;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  transition: 640ms;
  &:hover{
    text-decoration: underline;
    cursor:pointer;
  }
}
.navbar__signup--btn {
  @extend %botones;
  background-color: #fff;
  color: $light-red;
  transition: 640ms;
  &:hover {
    cursor: pointer;
    background-color: $light-red;
    color: #fff;
  }
}

//HEADER BANNER
.header__banner {
  width: 100%;
  margin: 0 auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;

  .header__banner--heading {
    font-family: $fuente-1;
    font-size: 62px;
    color: $white;
    margin-bottom: 15px;
  }
  .header__banner--paragraph {
    font-family: $fuente-1;
    font-size: 20px;
    color: $white;
    margin-bottom: 35px;
  }
}
.header__button {
  display: flex;
  gap: 20px;
  justify-content: center;
  .header__start--btn {
    @extend %botones;
    background-color: #fff;
    color: $light-red;
    transition: 640ms;
    &:hover {
      cursor: pointer;
      background-color: $light-red;
      color: #fff;
    }
  }
  .header__learn--btn {
    @extend %botones;
    border: 1px solid $white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: 640ms;
    &:hover {
      background-color: #fff;
      color: $light-red;
    }
  }
}
@media screen and (max-width: 599px) {
  .header__banner {
    width: 90%;
    .header__banner--heading {
      font-family: $fuente-1;
      font-size: 36px;
    }
  }
}
@media screen and (max-width: 280px) {
  .header__banner {
    width: 85%;
    .header__banner--heading {
      font-family: $fuente-1;
      font-size: 20px;
    }
    .header__banner--paragraph {
      font-size: 15px;
    }
  }
  .header__button {
  .header__start--btn {
    font-size:13px;
  }
  .header__learn--btn {
   font-size:13px;
  }
}
}
@media screen and (max-width: 768px) {
  .main__header {
    position: relative;
  }
  .submain__header {
    flex-direction: column;
  }
  .header__logo {
    flex-basis: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menuToogle {
    display: block;
    background-image: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
  }
  .header__navbar {
    flex-basis: auto;
    flex-direction: column;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: $white;
    display: none;

    &.active {
      display: flex;
    }
  }
  .navbar__menu {
    flex-direction: column;
    width: 100%;
    padding: 16px 0;
  }
  .navbar__buttons {
    padding: 12px 0;
    margin-bottom: 20px;
    flex-direction: column;
    border-top: 1px solid #efeff1;
    width: 90%;
    align-items: center;
  }
  ////
  .navbar__dropdown {
    margin: auto;
    width: 90%;
    padding: 4px 0;
  }
  .navbar__dropbtn {
    width: 100%;
    justify-content: center;
    color: $very-dark-gray-blue;
    padding: 8px 0;
    margin-bottom: 0;
  }
  .navbar__dropdown--content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    text-align: center;
    background-color: #efeff1;
    display: flex;
    gap: 18px;
    flex-direction: column;
    padding: 0;
    border-radius: 5px;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow: none;
    .navbar__dropdown--link {
      padding: 0 0;
      width: 100%;
      text-align: center;
      color: $very-dark-gray-blue;
      font-size: 16px;
      &:nth-of-type(1) {
        padding-top: 30px;
      }
      &:last-of-type {
        padding-bottom: 30px;
      }

      &:hover {
        color: $very-dark-gray-blue;
        font-weight: 500;
      }
    }
  }
  .navbar__login--btn {
    color: $very-dark-gray-blue;
    &:hover{
      text-decoration: underline;
      cursor:pointer;
    }
  }
  .navbar__signup--btn {
    background-color: none;
    background-image: linear-gradient(150deg, $very-light-red, $light-red);
    color: $white;
    transition: 640ms;
    &:hover {
      cursor: pointer;
      background-color: none;
      background-image: linear-gradient(150deg, $Very-light-red, $Light-red);
    }
  }
  .navbar__dropbtn {
    &:after {
      content: "";
      background-image: url(../img/angle-down-media.svg);
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      float: right;
      align-self: flex-end;
    }
    &.active:after {
      content: "";
      background-image: url(../img/angle-up-media.svg);
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      align-self: flex-end;
    }
    .navbar__dropbtn--ico {
      background-image: none;
      margin-left: 0;
    }
    &:hover .navbar__dropbtn--ico {
      background-image: none;
      margin-left: 0;
    }
  }
}

//MAIN CONTAINER
.main__container {
  padding: 0.1px;
}

//FIRST CONTAINER
.first__container {
  position: relative;
  padding: 128px 0;
}
.first__container--header {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  .first__container--heading {
    font-family: $fuente-1;
    font-size: 28px;
  }
}
.first__container--body {
  display: flex;
  align-items: center;
}
.first__container--articles {
  flex-basis: 600px;
  margin-top: 100px;
  margin-left: 100px;
}
.first__container--article {
  .first__article--heading {
    font-family: $fuente-1;
  }
  .first__article--paragraph {
    font-family: $fuente-1;
    margin: 20px 0;
    font-size: 19px;
    line-height: 30px;
  }
}
.first__container--picture {
  position: absolute;
  top: 90px;
  right: -260px;
  .first__container--img {
    width: 900px;
  }
}

@media screen and (max-width: 1280px) {
  .first__container--articles {
    margin-top: 100px;
    margin-left: 100px;
  }
  .first__container--picture {
    position: absolute;
    top: 140px;
    right: -200px;
    .first__container--img {
      width: 700px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .first__container--header {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .first__container--body {
    flex-direction: column-reverse;
  }
  .first__container--articles {
    flex-basis: auto;
    margin-top: 50px;
    margin-left: 0;
    padding: 0 20px;
    text-align: center;
  }
  .first__container--picture {
    position: relative;
    top: 0;
    right: 0;
    flex-basis: auto;
    .first__container--img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px) {
  .first__container--picture {
    position: relative;
    top: 0;
    right: 0;
    flex-basis: auto;
    background-image: url(../img/illustration-editor-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 300px;
    .first__container--img {
      display: none;
    }
  }
  .first__container--article {
    .first__article--heading {
      font-family: $fuente-1;
      font-size: 28px;
    }
    .first__article--paragraph {
      font-family: $fuente-1;
      margin: 30px 0;
      font-size: 17px;
      line-height: 30px;
    }
  }
}
@media screen and (max-width: 280px) {
  .first__container--picture {
    height: 200px;
  }
  .first__container--header {
    margin-top: 0;
    margin-bottom: 20px;
    .first__container--heading {
      font-family: $fuente-1;
      font-size: 20px;
    }
  }
  .first__container--article {
    .first__article--heading {
      font-size: 20px;
    }
    .first__article--paragraph {
      font-size: 15px;
    }
  }
}

//SECOND CONTAINER
.second__container {
  $border-radius-size: 150px;
  border-bottom-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $very-dark-gray-blue;
  margin: 170px 0 120px;
  height: 43vh;
  width: 100%;
}
.second__container--bgi {
  background-image: url(../img/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position-x: -52%;
  background-position-y: 85%;
}
.second__container--picture {
  position: absolute;
  top: -80px;
  left: 140px;
  right: 0;
}
.second__container--article {
  flex-basis: 540px;
  margin-right: 150px;

  .second__container--heading {
    font-family: $fuente-1;
    color: $white;
    font-size: 32px;
    margin-top: 20px;
  }
  .second__container--paragraph {
    font-family: $fuente-2;
    color: $white;
    margin: 20px 0;
    font-size: 15px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1366px) {
  .second__container--article {
    flex-basis: 540px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .second__container--article {
    flex-basis: 450px;
  }
}
@media screen and (max-width: 1200px) {
  .second__container {
    flex-direction: column;
    height: 60vh;
  }
  .second__container--bgi {
    background-image: url(../img/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 85%;
  }
  .second__container--picture {
    position: relative;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    .second__container--img {
      width: 90%;
      display: block;
      margin: auto;
    }
  }
  .second__container--article {
    flex-basis: auto;
    max-width: 80%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 768px) {
  .second__container {
    $border-radius-size: 80px;
    border-bottom-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
    flex-direction: column;
    height: 65vh;
    margin: 120px 0 30px;
  }
  .second__container--bgi {
    background-image: url(../img/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -500px;
  }
  .second__container--picture {
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    .second__container--img {
      width: 90%;
      display: block;
      margin: auto;
    }
  }
  .second__container--article {
    flex-basis: auto;
    max-width: 80%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 375px) {
  .second__container {
    height: 65vh;
     margin: 30px 0 30px;
  }
  .second__container--bgi {
    background-image: url(../img/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: -200px;
  }
  .second__container--article {
    .second__container--heading {
      font-size: 22px;
      margin-top: 30px;
    }
    .second__container--paragraph {
      font-family: $fuente-2;
      color: $white;
      margin: 20px 0 5px;
      font-size: 14px;
      line-height: 30px;
    }
  }
}
@media screen and (max-width: 280px) {
  .second__container {
    height: 70vh;
  }
  .second__container--bgi {
    background-image: url(../img/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position-x: 60%;
    background-position-y: -140px;
  }
  .second__container--article {
    .second__container--heading {
      font-size: 22px;
      margin-top: 30px;
    }
    .second__container--paragraph {
      font-family: $fuente-2;
      color: $white;
      margin: 20px 0 5px;
      font-size: 14px;
      line-height: 30px;
    }
  }
}

//THIRD CONTAINER
.third__container {
  position: relative;
  padding: 64px 0;
}
.third__container--body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.third__container--picture {
  position: absolute;
  top: 0;
  left: -253px;
  .third__container--img {
    width: 900px;
  }
}
.third__container--articles {
  flex-basis: 600px;
  margin-top: 110px;
  margin-right: 100px;
}
.third__container--article {
  .third__article--heading {
    font-family: $fuente-1;
  }
  .third__article--paragraph {
    font-family: $fuente-1;
    margin: 20px 0;
    font-size: 19px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1280px) {
  .third__container--articles {
    margin-top: 100px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .third__container--body {
    flex-direction: column;
  }
  .third__container--articles {
    flex-basis: auto;
    margin-top: 50px;
    margin-right: 0;
    padding: 0 20px;
    text-align: center;
  }
  .third__container--picture {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    flex-basis: auto;
    .third__container--img {
      width: 100%;
      display: block;
      margin: auto;
    }
  }
}
@media screen and (max-width: 600px) {
  .third__container {
    padding: 24px 0;
  }
  .third__container--picture {
    position: relative;
    top: 0;
    right: 0;
    flex-basis: auto;
    background-image: url(../img/illustration-laptop-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 300px;
    .third__container--img {
      display: none;
    }
  }
  .third__container--article {
    .third__article--heading {
      font-family: $fuente-1;
      font-size: 28px;
    }
    .third__article--paragraph {
      font-family: $fuente-1;
      margin: 30px 0;
      font-size: 17px;
      line-height: 30px;
    }
  }
}
@media screen and (max-width: 280px) {
  .third__container--picture {
    height: 200px;
  }
  .third__container--header {
    margin-top: 0;
    margin-bottom: 20px;
    .third__container--heading {
      font-family: $fuente-1;
      font-size: 20px;
    }
  }
  .third__container--article {
    .third__article--heading {
      font-size: 20px;
    }
    .third__article--paragraph {
      font-size: 15px;
    }
  }
}

//FOOTER
.main__footer {
  background-color: $very-dark-gray-blue;
  border-top-right-radius: 120px;
  padding: 0.1px;
  margin-top: 190px;
}
.submain__footer {
  @extend %margenes;
  padding: 64px 64px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer__logo {
  flex-basis: 200px;
}
.footer__body {
  flex-basis: 800px;
  display: flex;
  justify-content: space-between;
}
.footer__menu {
  .footer__list--heading {
    font-family: $fuente-1;
    color: $white;
    margin-bottom: 20px;
  }
  .footer__list {
    list-style: none;
    padding: 11px 0;
  }
  .footer__link {
    font-family: $fuente-2;
    color: $grayish-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}
@media screen and (max-width:1024px){
  .main__footer {
  margin-top: 50px;
}
}
@media screen and (max-width: 768px) {
  .submain__footer {
    padding: 64px 64px;
    flex-direction: column;
  }
  .footer__logo {
  flex-basis: auto;
  margin-bottom: 40px;
  .footer__logo--img{
    display:block;
    margin:auto;
  }
}
  .footer__body {
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
  }
  .footer__menu {
    margin-bottom: 45px;
    text-align: center;
  }
}
